@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply h-full;
  }

  ul,
  ol {
    list-style: revert;
    margin: revert;
    padding: revert;
  }

  a {
    @apply text-blue-500 underline hover:bg-blue-200;
  }

  p {
    margin: revert;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: revert;
  }

  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
}

:root {
  --hackforla-red: #fa114f;
}
